*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



a {
    text-decoration: none;
}

html{
    /*variaveis*/
    --bg-color: #edf2ff;
    --text-color: #000825;
    --primary-color: #df0505be;
    --primary-color-dark: #f39595ce;
}

body.dark{
    --bg-color: url( https://images7.alphacoders.com/752/thumb-1920-752164.jpg);
    background-size:100%;
    width: 100%;
    --text-color: #ffffff;
}

body.pink {
    --bg-color: #fff0f6;
    --text-color: #1f000b;
    --primary-color: #d6336c;
    --primary-color-dark: #a61e1e;
}



body {
    background: var(--bg-color);
    width: 100%;
   
    background-size:100%;
    
    color: var(--text-color);

    font-family: 'Roboto', sans-serif;
}

h1 {

    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 8px;
}

p {
font-weight: 400;
font-family: 'Roboto Mono', monospace;

opacity: 0.7;

font-size: 14px;

}

.container {
   opacity: 1;
    text-align: center;
    width: 300px;
    margin: 30px auto;
    
    
}

.foto {
    width: 50%;
    border-radius: 50%;
    padding: 3.7px;
    border: 2px solid rgb(66, 1, 58);
    border: 4px solid var(--primary-color) ;
   
}

ul {
    list-style: none;
    margin: 20px 0;
    
}


ul li a {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    background: var(--primary-color);
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    
    margin-bottom: 10px;
    border-radius: 6px;
   

    border: 1px solid #f39595ce;

    transition: background 400ms;
}

ul li a:hover {
    background: var(--primary-color-dark);
}

footer{
    font-size: 12px;
    font-weight: 500;
    
    opacity: 0.8;
    transition: opacity 400ms;
  

   
   
}

footer:hover{
    opacity: 1;
}

footer a {
    color: var(--text-color);
  
}